html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.navigation {
  height: 50px;
  background: #4e4e4e;
}

.navigation .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.links-list {
  width: 30%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.link {
  text-decoration: none;
  color: #f1f1f1;
}

.disabled {
  cursor: not-allowed;
}

.header {
  height: calc(100vh - 50px);
  background-image: url("/assets/Tło\ sekcji.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.bigger_txt {
  width: 577px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.smaller_txt {
  margin-top: 62.19px;
  margin-bottom: 65.96px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 164px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: 3px solid #ffffff;
  text-decoration: none;
  transition-duration: 1s;
}

.offer-btn:hover {
  background: #ffffff;
  color: black;
}

.specialists {
  background: #f1f1f1;
  height: calc(100vh - 100px);
  padding: 50px 0;
}

.specialist {
  display: flex;
  margin: 50px 0;
}

.specialist:nth-of-type(odd) .spec-img {
  background-image: url("/assets/pexels-august-de-richelieu-4427610.jpg");
  margin-right: 50px;
}

.specialist:nth-of-type(even) .spec-img {
  background-image: url("/assets/pexels-edmond-dantès-4347368.jpg");
  margin-left: 50px;
}

.specialist:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-left: 50px;
  text-align: right;
}

.spec-inf-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #152d41;
  display: flex;
  align-items: center;
}

.spec-img {
  width: 197px;
  height: 197px;
  background-size: cover;
  border-radius: 50%;
}

.name {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.offers {
  background: #405d78;
  height: calc(100vh - 100px);
  padding: 50px 0;
}

.offer-box-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 63px;
  justify-content: center;
}

.offer-title {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #e07a64;
  border-radius: 50%;
  top: -11px;
  left: -11px;
}

.offer-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 195px;
  background: #f1f1f1;
  transition: 0.5s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.offer-box:hover {
  transform: scale(1.05);
}
.pgf {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.new-offer::after {
  content: "\A (nowość)";
  white-space: pre-wrap;
}

.footer .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  height: 71px;
  background: #4e4e4e;
}
.icons {
  width: 6%;
  display: flex;
  justify-content: space-between;
}
.txt {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.fa-brands.fa-instagram,
.fa-facebook {
  color: #ffffff;
  font-size: 25px;
}
